    <div class="container" ng-controller = "mainController">
        <h1>{{test}}</h1>
         <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">BeerList
                 <i class="fa fa-beer fa-flip-horizontal fa-4x" aria-hidden="true"></i>
                </h1> 
                <div class="page-header">
                </div>
                <!-- render beers here -->
                <form ng-submit="addBeer(beerForm)">
       <!--              <h3>-------------</h3>
                    <input ng-model="makeObj.inp">
                    <input ng-model="makeObj.test">
                    {{makeObj}}
                    <h3>-------------</h3> -->
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Beer Name" ng-model="beerForm.name"></input>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Style" ng-model="beerForm.style"></input>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="ABV" ng-model="beerForm.abv"></input>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Image URL" ng-model="beerForm.image"></input>
                    </div>                    
                    <button ng-click ="addBeer(beerForm)" type="button" class="btn btn-primary">Add</button>
                </form>


                <div ng-repeat ="item in newBeers track by $index"
                  ng-model="deleted">
                  <button class="btn btn-danger" ng-click ="remove(item._id)">Remove</button>
                  <button class="btn btn-warning" ng-click ="editBeers(item)">Edit input</button>
                  <button class="btn btn-success" ng-click ="updateBeer(item)">Save</button>
                  <button class="btn btn-danger" ng-click ="isEditable = false">Cancel</button>

                  <!-- form start -->
                  <form ng-show ="isEditable">


                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Beer Name" ng-model="beerCopy.name"></input>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Beer Style" ng-model="beerCopy.style"></input>
                    </div>
                     
                     <div class="form-group">
                        <input type="text" class="form-control" placeholder="Beer ABV" ng-model="beerCopy.abv"></input>
                    </div>

                    </form>
                   <!--  form end -->

                   <img ng-src="{{item.img}}"/>

                   <!-- display start -->
                     <div ng-hide="isEditable" class="ales">
                       <p><h3>{{item.name}} </h3></p>
                       <p>Style: {{item.style}} </p>
                       <p>ABV:{{item.abv}} </p>
                    </div>       
                   <!-- display end -->

                   <p>Rating:{{item.rating}} </p>                       
                  </div> 

                  
                      <div class="form-group"><p>Rating:</p>
                        <input class="star" type="checkbox"/>
                        <label for="st1" ng-click="rate(beer, 5)"></label>
                        <input class="star" type="checkbox" />
                        <label for="st2" ng-click="rate(beer, 4)"></label>
                        <input class="star" type="checkbox" >
                        <label for="st3" ng-click="rate(beer, 3)"></label>
                        <input class="star" type="checkbox" />
                        <label for="st4" ng-click="rate(beer, 2)"></label>
                        <input class="star" type="checkbox" />
                        <label for="st5" ng-click="rate(beer, 1)"></label>                        
                    </div> 
                </div>

            </div>
        </div>